body {
    background-color: #212121;
    color: #e0e0e0;
    min-height: 100vh;
}

a {
    color: #86b5fc;
}

a:hover {
        color: #67baea;
}

.page-footer {
    background-color: #212121;
    color: #e0e0e0;
    min-height: 100vh;
}